CAD_Proj/detail/PDA/CIMCPPSPL/CIMCPPSPL/CIMCPPSPL/Web References/WSR/PPSPLLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDs">
        <s:complexType />
      </s:element>
      <s:element name="AccountDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountDsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatagridDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlselect" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatagridDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatagridDsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aa" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpoolStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spoolname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpoolStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpoolStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDsSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDs" />
  </wsdl:message>
  <wsdl:message name="AccountDsSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDsResponse" />
  </wsdl:message>
  <wsdl:message name="DatagridDsSoapIn">
    <wsdl:part name="parameters" element="tns:DatagridDs" />
  </wsdl:message>
  <wsdl:message name="DatagridDsSoapOut">
    <wsdl:part name="parameters" element="tns:DatagridDsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDs" />
  </wsdl:message>
  <wsdl:message name="UpdateDsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpoolStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpoolStatus" />
  </wsdl:message>
  <wsdl:message name="GetSpoolStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpoolStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="PPSPLLoginSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">远程调用参数验证登录</wsdl:documentation>
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据表原始数据</wsdl:documentation>
      <wsdl:input message="tns:AccountDsSoapIn" />
      <wsdl:output message="tns:AccountDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DatagridDs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新dataGrid原始数据</wsdl:documentation>
      <wsdl:input message="tns:DatagridDsSoapIn" />
      <wsdl:output message="tns:DatagridDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取更新dataGrid原始数据</wsdl:documentation>
      <wsdl:input message="tns:UpdateDsSoapIn" />
      <wsdl:output message="tns:UpdateDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpoolStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">web服务采用GetMax实现获得spool的状态</wsdl:documentation>
      <wsdl:input message="tns:GetSpoolStatusSoapIn" />
      <wsdl:output message="tns:GetSpoolStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PPSPLLoginSoap" type="tns:PPSPLLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDs">
      <soap:operation soapAction="http://tempuri.org/AccountDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatagridDs">
      <soap:operation soapAction="http://tempuri.org/DatagridDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDs">
      <soap:operation soapAction="http://tempuri.org/UpdateDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpoolStatus">
      <soap:operation soapAction="http://tempuri.org/GetSpoolStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PPSPLLoginSoap12" type="tns:PPSPLLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDs">
      <soap12:operation soapAction="http://tempuri.org/AccountDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatagridDs">
      <soap12:operation soapAction="http://tempuri.org/DatagridDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDs">
      <soap12:operation soapAction="http://tempuri.org/UpdateDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpoolStatus">
      <soap12:operation soapAction="http://tempuri.org/GetSpoolStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PPSPLLogin">
    <wsdl:port name="PPSPLLoginSoap" binding="tns:PPSPLLoginSoap">
      <soap:address location="http://172.20.60.75:82/PPSPLLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="PPSPLLoginSoap12" binding="tns:PPSPLLoginSoap12">
      <soap12:address location="http://172.20.60.75:82/PPSPLLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>